@import "tailwindcss";
@import "react-image-gallery/styles/css/image-gallery.css";

@theme {
    --color-dark: #040305;
    --color-light: #e1dfe6;
    --color-secondary: #9FA6B2;
    --color-facebook: #2450ff;
}

@layer components {
    .navbar-item {
        @apply relative flex items-center justify-center mx-2 my-auto text-white;
        /* Added for better mobile UX: */
        @apply py-2 px-3 rounded-md hover:bg-gray-700 transition-colors duration-200;
    }

    .sidebar-icon {
        @apply relative flex items-center justify-center h-12 w-12 my-2 mx-auto
               bg-gray-800 text-green-500
               hover:bg-green-600 hover:text-white
               rounded-3xl hover:rounded-xl
               transition-all duration-125 ease-linear
               cursor-pointer;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14
        rounded-md shadow-md
        text-white bg-gray-900
        text-xs font-bold
        transition-all duration-100 scale-0 origin-left;
    }
}

@media (width <= 48rem){ 
    .hamburger {
        margin-left: auto;
    }
}

.page-break-top {
    height: 50%;
    width: 100%;
    background: dark;
}

@media (width < 48rem) {
    .home-cards {
        flex-direction: column;
    }

    #map {
        width: 22rem;
        height: 22rem;
    }
}

.social-link {
    fill: var(--color-light);
    transition: fill 0.3s ease;
}

.social-button:hover .social-link {
    fill: var(--color-dark);
}

.form-input {
    width: calc(3/4 * 100%);
}

.button {
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border-color: var(--color-dark);
    border-width: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
    border-color: var(--color-light);
}